@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "index";

body {
  font-family: "Lato", sans-serif;
}

h1,
.h1 {
  color: $mine-shaft;
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}

h2,
.h2 {
  color: $mine-shaft;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

p,
.p {
  color: $mine-shaft;
  font-size: 14px;
  margin: 0;

  @include md {
    font-size: 18px;
  }
}

span,
.p {
  color: $mine-shaft;
  font-size: 12px;
  margin: 0;
}
