@import "../common";

.nav {
  display: flex;
  background-color: $turbo;
  justify-content: center;
  padding: 8px 0 8px;
  width: 100%;

  .container {
    display: flex;
    height: 48px;
    margin: 0 8px;
    max-width: $screen-lg-min;
    width: 100%;

    @include md {
      height: 35px;
      margin: 0 16px;
    }
  }

  .link {
    align-items: center;
    display: flex;
  }

  .logo {
    vertical-align: middle;
  }

  .search {
    background-color: $white;
    border-radius: 4px;
    display: flex;
    flex-grow: 1;
    margin-left: 15px;

    @include md {
      margin-left: 35px;
    }

    input {
      background-color: transparent;
      border: 0;
      flex-grow: 1;
      padding: 8px 16px;

      &:focus {
        outline: 0;
      }
    }

    .btn {
      background-color: $gallery;
      border: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0 8px;
      width: 48px;

      @include md {
        width: inherit;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
